<ul class="list-group container">
    <li class="list-group-item" *ngFor="let c of dataList; trackBy: trackById">
        <div class="d-flex justify-content-between align-items-start">
            <div class="me-3">
                <div class="fw-bold">
                    {{ c.name }}
                    <span class="badge ms-2" [ngClass]="c.type === '必修' ? 'bg-primary' : 'bg-success'">
                        {{ c.type }}
                    </span>
                </div>

                <div class="text-muted small mt-1">
                    選課代碼：{{ c.code }}｜學分：{{ c.credits }}｜地點：{{ c.location }}
                </div>

                <div class="mt-2">老師：{{ c.teacher }}</div>
                <div class="mt-2">上課時間：{{ getTimeText(c.time) }}</div>
                <div class="mt-2">{{ c.description }}</div>
                <div class="btn-group mt-2" role="group">
                    <button type="button" class="btn btn-sm"
                        [ngClass]="tempUiS.entitysIdSet().has(c.id) ? 'btn-secondary' : 'btn-outline-secondary'"
                        [disabled]="tempUiS.entitysIdSet().has(c.id)" (click)="addTemp(c)">
                        {{ tempUiS.entitysIdSet().has(c.id) ? '已暫存' : '加入暫存' }}
                    </button>

                    <button type="button" class="btn btn-sm"
                        [ngClass]="sortUiS.entitysIdSet().has(c.id) ? 'btn-success' : 'btn-outline-primary'"
                        [disabled]="sortUiS.entitysIdSet().has(c.id)" (click)="addSort(c)">
                        {{ sortUiS.entitysIdSet().has(c.id) ? '已加入初選' : '加入初選' }}
                    </button>
                </div>
            </div>


        </div>
    </li>
</ul>